svg{ background: lightgrey;}
.clergy-red{stroke: red; stroke-width:1}
.clergy-green{stroke: green; stroke-width:1}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 105px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
